name: Testing Advent of Code Solutions

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        day: [1, 2, 3, 4, 5]
    defaults:
      run:
        working-directory: "2025/day${{ matrix.day }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run tests for ${{ matrix.day }}
        run: cargo test --locked

